
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
}

.images {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.pokemonCard {
    display: grid;
    border: 1px solid black;
}